footer{
  width: 100%;
  margin: auto;
  & p{
    display: flex;
    justify-content: center;
  }

  & .a{
    gap: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
  
@media (width >= 80rem) {
  footer{
    display: flex;
    margin-left: 2.5rem;

    padding-bottom: 1rem;

    & p{
      display: flex;
      justify-content: start;
      
    }

    & .a{
      margin-left:auto ;
      padding-right: 6rem;
    }

  }
  

}